run = [
    "deno",
    "task",
    "start"
]

hidden = [".deno"]

entrypoint = "dev.ts"

# Unpublished requires configuration
[languages.deno]
pattern = "**/*.{ts,js}"
[languages.deno.languageServer]
start = ["deno", "lsp", "-q"]



[env]
DENO_DIR = "/home/runner/${REPL_SLUG}/.deno"

[nix]
channel = "unstable"